<!--
  Generated template for the ConsumerPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>IEasy Connect </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <button ion-button full (click)="scanWifi()">
      <ion-icon name="wifi"></ion-icon> Seach ieasy Networks
    </button>

  <ion-list>
    <ion-item *ngFor="let x of data" (tap)="selectWifi(x.SSID)">
      <p>
        <ion-avatar item-start>
          <ion-icon name="wifi"></ion-icon> 
        </ion-avatar>
        {{x.SSID}}
      </p>
    </ion-item>
  </ion-list>


  <h4> Selected wifi properties:</h4>

  <p>
    Wifi IP Address:
    <span *ngIf="wifiIPAddress">{{wifiIPAddress | json}}</span>
    <span *ngIf="wifiIPAddress == null">NA</span>
  </p>

  <p>
    Carrier IP Address:
    <span *ngIf="carrierIPAddress">{{carrierIPAddress | json}}</span>
    <span *ngIf="carrierIPAddress == null">NA</span>
  </p>
  <!-- <button ion-button full (click)="networkInterfaceAddress()">Get Carrier IP address</button> -->

  <p>Log: {{logs|json}}</p>
  <p>Error: {{error|json}}</p>

</ion-content>
